.Rproj.user
.Rhistory
.RData
.Ruserdata
docs/Hengill slides.pptx
pics/
results/figures/
docs/Plant populations in a warmer worldLOKA.pptx
docs/paper/Figures/fig1.jpg
docs/paper/cover_images/DSC_0101_Katarina_Fast_Ehrlén.jpg
*.tiff
*.jpg
